html,body {
	height:100%;
	width:100%;
	background-color: #363636;
	margin:0;
	padding:0;
}
.container-fluid {
	background-color: #363636;
	color:#FBEFB3;
	height:100%;
	max-width: 100%;
	padding:0;
}
h1 {
	margin: 20px 0px; 
	line-height: 1em;
}
h2 {
	margin: 30px 0px 20px 0px; 
	line-height: 1em;
}
h4 {
	margin: 0px; 
	line-height: 1em;
	color:#FBEFB3;
}
.col-xs-12 {
	height: 100%;
	width:100%;
	margin:0;
}

.scene {
	height:100%;
	width:100%;
	margin: 0px;
/*	border-bottom: black solid 1px;
*/	padding:0 30px;
}

.left {
	float:left;
	width:50%;
	height:100%;
	align-items: center;
}
.right {
	float:right;
	width:50%;
	height: 100%;
	vertical-align: middle;
}
.hidden{
	opacity: 0;
}

#scene-intro-1 h4 {
	padding-top: 5%;
}

#glyphicons {
	fill:white;
	width:10%;
}

.arrows {
	width:10%;
	display: block;
	margin:0 auto;
	opacity: 1;
}
#arrow-down{
	margin-top: -30px;
}

#scene-intro-1 {
	padding:0 30px;
}

#scene-intro-1 h1 {
	font-size:6em;
}

#scene-intro-1 h4 {
	font-size: 3em;
	color:white;
	opacity: 1;
}

.brick-container {
	height:100%;
	width: 100%;
}
.brick-container img {
	height:100%;
}
#brick-1 {
	z-index: 1;
}
#brick-2 {
	z-index: 2;
	opacity: 0;
	float:right;
}
	
#brick-txt {
	z-index: 3;
	font-size: 2.5em;
}
#brick-txt .left p {
	margin-left: 20%;
}
#brick-3 {
	z-index: 4;
	opacity: 0;
}
#brick-4 {
	z-index: 5;
	opacity: 0;
	float:right;
}
.intro-container {
	font-size: 2em;
	margin-top: 0;
}

.intro-txt-big {
	font-size:5em;
	opacity: 1;
	width:100%;
	line-height: 1.2;
	scale:1;
	color: white;
	margin-left: 20%;
}

#intro-4-span, #intro-41-span{
	opacity: 0;
}


.white-bold {
	color: white;
	font-weight: bold;
}

.brick {
	width:120px;
}
#brick1{
	display: inline-block;
	float:left;
}

#brick21 {
	display: inline-block;
	float:left;

}
#brick22 {
	display: inline-block;
	margin-right: -4%;
}
.st0{
	fill:#69C6AB;
}
.color-transistion-1s {
	transition: fill 0.5s ease;
}
.source-number {
	color:#FBEFB3;
	display: inline-block;
	font-size: 30em;
	line-height: 0.7em;
	vertical-align: top;
}
.question {
	font-size: 6em;
	text-align: center;
	color:white;
}
#quest-1, #quest-2, #quest-3, #quest-4, #quest-5, #quest-6, #quest-7  {
	opacity: 0;
}
#quest-3 {
	font-size: 5.5em;
}
#quest-6 {
	font-size: 5.5em;
	line-height: 1em;
}
.explanation {
	width: 100%;
	font-size: 2em;	
}
.txt-left {
	text-align: left;
	/*float:right;*/
}
#virkemidler-1 {
	height:120%;
}